.div_main {
    padding: 5%;
    padding-bottom: 100%;
}

.div_book_detais {
    text-align: center;
    padding: 10%;
    float: right;
}

.image-book_details {
    margin-left: 50px;
    margin-bottom: 1000px;
    float: left;
}

.div_left {
    float: left;
    padding-left: 100px;
}
.button-ebook{ 
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

}

.button-ebook {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.button-ebook:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.button-ebook:active {
	position:relative;
	top:1px;
}

