.heading-center {
    text-align: center; 
}

.return{
    font-weight: bold;
    margin-right: 1em;
    margin-top: 2em;
    padding: 1em;
}

.books {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    justify-content: space-around;
}

.button_my_page {
    border: none;
    padding: 5px;
    border-radius: 15%;
    background-color: darkcyan;
    color: whitesmoke;
}
.button_delete {
    border: none;
    padding: 5px;
    margin-left: 1em;
    border-radius: 15%;
    background-color: rgb(231, 44, 44);
    color: whitesmoke;
}

.test{
    border-radius: 8px;
    width: 17em;
    height: 25em;
    margin-top: 1em;
    margin-left: 1rem;
    padding-bottom: 7px;
    background-color: #e0e0e0;
    
}


.test:hover{
    box-shadow: 30px 20px 16px 0 rgba(0,0,0,0.2);
  }

  @media screen and ( max-width:902px){
    h2.container-text{
        font-size: 60px;
    }
}