.heading-center {
    text-align: center;
    padding: 50px;
}

.border_my_page {
    padding: 5%;
}

.books {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 20px;
    text-align: center;
    padding: 20px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button_my_page {
    border: none;
    padding: 5px;
    border-radius: 15%;
    background-color: darkcyan;
    color: whitesmoke;
}