nav ul{
    display:flex;
	justify-content:space-around;
	align-items: center;
	width: 100%;
	height: 3rem;
    margin: 0;
}

/* .button:hover {
    color: green;
}


.button-navbar {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #2c3331 5%, #202c2c 100%);
	background-color:#262e2c;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.button-navbar:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.button-navbar:active {
	position:relative;
	top:1px;
} */

/* .active {
    background-color:  rgb(52, 97, 97);;
} */

.containe
{
    font-family: Raleway;
	text-align: center;
}

.containe a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.gray
{
    background: #9e9e9e;
}

.highlightTextIn a
{
    color: rgba(0, 0, 0, 0.4); 
}

.highlightTextIn a:after
{
    transform: scale(1.2);
} 

.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}

.highlightTextIn a:before
{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

.button:hover{
    color:  #FFF;
	text-decoration: none;
    background: #9e9e9e;
}