nav ul{
    background-color: rgb(45, 73, 62);
    display:flex;
    justify-content:space-around;
    padding:1em;
    margin:auto;
}

.button:hover {
    color: green;
}


.button-navbar {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #2c3331 5%, #202c2c 100%);
	background-color:#262e2c;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.button-navbar:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.button-navbar:active {
	position:relative;
	top:1px;
}

/* .active {
    background-color:  rgb(52, 97, 97);;
} */