

.input-select-size {
    width: 25em;
}

.form-booklist {
    display: flex;
    justify-content: space-around;
}

.image_find_book {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 25% 100px auto; */
    grid-gap: 5%;
}





.button_find_books {
    border: none;
    background-color: burlywood;
    color: chocolate;
    border-radius: 10%;
    width: 50px;
}

.form_results{
    display: flex;
    flex-wrap: wrap;
    padding:auto;
}

.form_result{
    margin:1rem;
    text-align: center;
    border : 5px solid rgb(27, 233, 216);
    background-color: rgba(124, 230, 212, 0.993);
    border-radius: 1rem;
    padding:1rem;
    width: 15rem;
    height: 20rem;
}